/* Regular styles for larger screens footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.contact-details,
.site-map,
.contact-form {
  flex: 1;
  margin-right: 20px;
}

/* Media query for smaller screens for footer*/
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-details,
  .site-map,
  .contact-form {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/* Mobile-friendly styles for home page*/
.home-container {
  padding: 10px;
}

.background-image {
  position: relative;
  overflow: hidden;
}

.home-content {
  text-align: center;
  padding: 20px;
}

.button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.icon-card {
  text-align: center;
}

.shop-category-section,
.signup-section {
  text-align: center;
  margin: 20px 0;
}

.category-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-icon {
  text-align: center;
  width: 45%; 
  margin: 10px 0;
}

.signup-section img {
  width: 100%;
  max-width: 300px; 
  margin: 20px 0;
}


@media (max-width: 600px) {
  .category-icon {
    width: 100%;
  }
}
